
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

.navbar-header {
    overflow: hidden;
    background-color: #fcf9f4;
    border-bottom: 1px Solid #6ec1e4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .navbar-header .logo-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 12.6em;
    align-items: center;
  }
  
  .navbar-header a {
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    color: #000;
  }
  
  .navbar-header .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: -0.6em;
  }
  
  .navbar-header #jobsity-text {
    font-family: PlutoSansBlack;
    font-size: 24px;
    margin-right: 30px;
    display: none;
  }
  
  .navbar-header #text-box {
    padding-top: 1em;
    margin-right: -0.5em;
  }
  
  .nav-center-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-header #bookshelf {
    font-family: PlutoSansMedium;
    font-size: 20px;
    margin-top: 2px;
    display: flex;
    justify-content: left;
    margin-left: -22.5em;
  }
  
  .navbar-header #book-box {
    margin-top: 0.5em;
  }
  
  .navbar-header span {
    padding: 8px;
  }
  

  .navbar-header .login {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin-right: 1em;
    margin-top: 0.7em;
    height: 3em;
    border-left: 1px solid #979797;
    }
  
  .login a {
    font-size: 12px;
    border: none;
    outline: none;
    color: #000000;
    padding: 1em 1.1em 1em 4.7em;
    background-color: inherit;
    font-family: PlutoSansCondLight;
    margin: 0;
  }
  
  .user .angle-icon {
    font-family: Free-Solid-900;
    margin-left: 0.7em;
  }
  
  .navbar-header .avatar {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-style: solid;
    border-color: #6ec1e4;
    margin-left: 0.5em;
  }