
  /*By default, JobSity text is not shown in mobile devices */
  @media only screen and (min-width: 768px){
    .navbar-header #jobsity-text { display: inline;}
  }

  @media screen and (min-width: 768px){
    .sidebar {
       width: 15%; 
    }
    .right-content { float: right;}
  } 

  @media screen and (min-width: 768px) {
    .center-content {
      width: 70%;
    }
  }

  @media only screen and (max-width: 768px) {
    section.right-content {
      display: none;
    }

    section.center-content {
      width: 85%;
    }
  }

  
  @media screen and (max-width: 768px) {
    .left-sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    /* .left-sidebar {float: left;} */
    section.center-content {margin-left: 0;}
    .left-sidebar .left-items {text-align: center;}
  }
  
  
  
  /* On small screens, set height to 'auto' for sidebar and grid */
  @media screen and (max-width: 768px) {
    .sidebar {
      height: auto;
      padding: 15px;
     
    }
    .content-container {height: auto;} 

  }

  @media only screen and (max-width: 768px) {
    .navbar-header #vertical-line {height: 0;}
    .search-container {display: none;}
    .navbar-header .login a {display: none;}
   
  }

/* ===========================
   ====== Media Queries for Books ======
   =========================== */

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }